@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Book

<div class="card m-1 p-1">
    <p3>@Model.Title</p3>

    <ul>
        <li>Author: @Model.Author</li>
        <li>Publisher: @Model.Publisher</li>
        <li>ISBN: @Model.Isbn</li>
        <li>Classification/Category: @Model.Classification</li>
        <li>Number of Pages: @Model.PageCount</li>
        <li>Price: $@Model.Price</li>
    </ul>
</div>